$white: #ffffff;
$black: #000000;
$blackLight: #131313;
$navHover: #938a8a;
$blueNice: #573ef0;
$blueNiceDark: #3d2e9c;
$grey: rgb(72, 71, 71);
$lopato: rgb(220, 221, 231);
$orange: rgb(213, 227, 13);
$greyLight: #c6c5c5;
$greyDark: #a09999;
$versus: #c575b1c9;
